/* Lista Tareas */

.tarea-contenedor {
  width: 600px;
  min-height: 400px;
  margin: 1em 0;
  background-color: rgb(131, 175, 216);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.agregar input,
button {
  font-size: 1rem;
  margin: 1.4em 0;
  padding: 0.5em 1.4em;
  border-radius: 10px;
}
.agregar button {
  background-color: rgb(47, 131, 144);
  color: aliceblue;
  cursor: pointer;
}
