.tarea-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarea-form input,
button {
  font-size: 1.2rem;
  margin: 0 0.5em;
  margin-top: 1.2em;
  padding: 0.7em 1.4em;
  border: none;
  border-radius: 10px;
}

.tarea-form .tarea-descripcion {
  width: 100%;
  padding: 0.7em 1.4em 0.7em 1em;
  outline: none;
}

.tarea-form button {
  background-color: rgb(47, 131, 144);
  color: aliceblue;
  cursor: pointer;
  outline: none;
}

/* Media Query para formulario */
@media (max-width: 650px){
  .tarea-form{
    flex-wrap: wrap;
  }
  .tarea-form button{
    width: 100%;
  }
}