.tarea-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tarea-form input,
button {
  font-size: 1rem;
  margin: 0 .5em;
  padding: .7em 1.4em;
  border: none;
  border-radius: 10px;
}
.tarea-form input{
  margin-top: 1.2em;
}
.tarea-form button{
  margin-top: .7em;
}
.tarea-form .tarea-descripcion{
    width: 100%;
    padding: .7em 1.4em .7em 1em;
    outline: none;
}
.tarea-form button {
  background-color: rgb(47, 131, 144);
  color: aliceblue;
  cursor: pointer;
  outline: none;

}
