* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(
      0deg,
      rgba(25, 25, 25, 0.399),
      rgba(222, 138, 59, 0.25)
    ),
    url("./img/fondo.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
.cont {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.tr{
  width: 80%;
}
/* Titulo Main.js*/

.job {
  padding: 1em 2.5em;
  background-color: rgb(236, 168, 104);
  border-radius: 5px;
  color: aliceblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.job h3{
  font-family: "Caveat", cursive;
}
